<!DOCTYPE html>
<html>
  <head>
    <title>My Flask App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <form action="/index" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.amount.label() }} {{ form.amount() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for pass in passes_data %}
      <p>{{ pass[3] }} {{ pass[1] }} {{ pass[2] }} {{ pass[6] }}</p>
    {% endfor %}
    <a href="{{ url_for('views.locate_users') }}">Посмотреть местонахождение сотрудников</a><br>
    <a href="{{ url_for('views.registration') }}">Зарегистрировать сотрудника</a>
  </body>
</html>
