<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/registration" method="post">
        <p><label>Имя:</label><input type="text" name="first_name" value="" required/></p>
        <p><label>Фамилия:</label><input type="text" name="last_name" value="" required/></p>
        <p><label>Отчество:</label><input type="text" name="middle_name" value="" required/></p>
        <p><label>Код:</label><input type="text" name="code" value="" required/></p>
        <p><input type="submit"></p>
    </form>
</body>
</html>